<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>QnA 홈</title>
</head>
<body>
    <section layout:fragment="content">
        <br>
        <br>
        <div class="container d-flex justify-content-between w-75">
            <h2>조회</h2>
            <div><button type="button" id="QnAWriteButton" class="btn btn-outline-primary btn-md">글 쓰기</button></div>
        </div>
        <br>
        <table class="table w-75 mx-auto text-center">
            <thead>
                <tr>
                    <th scope="col" class="col-1">글 번호</th>
                    <th scope="col" class="col-5">제목</th>
                    <th scope="col" class="col-2">작성자</th>
                    <th scope="col" class="col-2">날짜</th>
                    <th scope="col" class="col-1">조회수</th>
                    <th scope="col" class="col-1">추천</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="qna : ${list}" th:object="${qna}">
                    <td th:text="*{noQnA}"></td>
                    <td><a th:text="*{titleQnA}" th:href="@{/game/QnAHit/{no}(no=*{noQnA})}" class="text-decoration-none"></a></td>
                    <td th:text="*{writerQnA}"></td>
                    <td th:text="*{dateQnA}"></td>
                    <td th:text="*{hitsQnA}"></td>
                    <td th:text="*{recommendQnA}"></td>
                </tr>
            </tbody>
        </table>
    </section>

    <th:block layout:fragment="script">
        <script src="../js/QnAList.js" defer></script>
    </th:block>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="../css/QnAList.css">
    </th:block>
</body>
</html>