<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/config}">
<head>
    <title>QnA 작성</title>
</head>
<body>
    <h2>글 작성</h2>
    <table>
        <tr>
            <label for="titleQnA">제목</label>
            <input type="text" class="form-control" id="titleQnA">
        </tr>
        <tr>
            <label for="writerQnA">작성자</label>
            <input type="text" class="form-control" id="writerQnA">
            <label for="passwdQnA">비밀번호</label>
            <input type="password" class="form-control" id="passwdQnA">
        </tr>
        <tr>
            <label for="contentQnA">본문(내용)</label>
            <input type="text" class="form-control" id="contentQnA">
        </tr>
    </table>

</body>