<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QnA 작성</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</head>
<body>
    <h2>글 작성</h2>
    <table>
        <tr>
            <label for="titleQnA">제목</label>
            <input type="text" class="form-control" id="titleQnA">
        </tr>
        <tr>
            <label for="writerQnA">작성자</label>
            <input type="text" class="form-control" id="writerQnA">
            <label for="passwdQnA">비밀번호</label>
            <input type="password" class="form-control" id="passwdQnA">
        </tr>
        <tr>
            <label for="contentQnA">본문(내용)</label>
            <input type="text" class="form-control" id="contentQnA">
        </tr>
    </table>

</body>