<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>상세 조회</title>
    <link rel="stylesheet" th:href="@{/css/QnAHit.css}"/>
</head>
<body>
    <section layout:fragment="content">
        <br>
        <br>
        <table th:object="${qnADTO}" class="table table-sm table-borderless w-75 mx-auto">
            <form name="dataForm" id="dataForm" method="get">
                <input type="hidden" id="noQnA" name="noQnA" th:value="*{noQnA}">
            </form>
            <tr>
                <th th:text="*{noQnA}" style="font-size: 15px"></th>
            </tr>
            <tr>
                <th th:text="*{titleQnA}" colspan="2" style="font-size: 24px"></th>
            </tr>
            <tr>
                <td colspan="2" class="text-secondary py-2">
                    <div class="d-flex">
                        <div class="me-auto">
                            <span th:text="*{writerQnA}"></span>
                            <span th:text="*{dateQnA}" class="ms-2"></span>
                            <span th:text="*{hitsQnA}" class="ms-2"></span>
                        </div>
                        <div class="d-flex justify-content-end align-items-center gap-2">
                            <span th:text="*{recommendQnA}" id="recommendCount"></span>
                            <button type="button" id="QnARecommendButton" class="btn btn-outline-danger btn-sm">추천
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="border rounded p-4 bg-light shadow-sm fs-5" style="min-height: 150px; white-space: pre-wrap;
                    text-align: left;" th:text="*{contentQnA}"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="border d-flex flex-column rounded p-4 shadow-sm fs-5 mt-1"
                         style="min-height: 170px; text-align: left;"
                         th:classappend="*{reDTO == null} ? 'bg-success-subtle text-secondary':'bg-danger-subtle text-dark'">
                        <p style="margin: 0; padding: 0; white-space: pre-wrap;"
                           th:text="*{reDTO?.reContentQnA} ?:'아직 답변이 등록되지 않았습니다.'"></p>
                        <div class="d-flex justify-content-end gap-2 fs-6 text-secondary mt-auto">
                            <span th:text="*{reDTO?.reWriterQnA}"></span>
                            <span th:text="*{reDTO?.reDateQnA}"></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="pt-4">
                    <div class="d-flex justify-content-end gap-2">
                        <div class="d-flex gap-2 me-auto hide-default" id="pwdArea">
                            <input type="text" placeholder="비밀번호 입력" id="QnAPassword" style="width: 150px">
                            <button type="button" id="QnAPassWordButton" class="btn btn-secondary btn-sm">확인</button>
                        </div>
                        <button type="button" id="QnAUpdateButton" class="btn btn-success btn-md" th:disabled="*{reDTO!=null}">수정</button>
                        <button type="button" id="QnADeleteButton" class="btn btn-danger btn-md" th:disabled="*{reDTO !=null}">삭제</button>
                        <a href="/client/QnA/QnAList" class="btn btn-outline-dark btn-md">목록</a>
                    </div>
                </td>
            </tr>
        </table>


        <script th:src="@{/js/QnAHit.js}" defer></script>
    </section>


</body>
</html>