<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section class="container" layout:fragment="content">
        <div class="d-flex justify-content-between">
            <h3 class="text-left">자유 게시판</h3>
            <a th:href="@{/LOL/free/write}" class="btn btn-primary">글쓰기</a>
        </div>
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>글 제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                    <th>추천</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="game : ${list}">
                    <td th:text="${game.gameNo}"></td>
                    <td>
                        <a th:href="@{/LOL/free/board}" th:text="${game.gameTitle}"></a>
                    </td>
                    <td th:text="${game.gameWriter}"></td>
                    <td th:text="${#temporals.format(game.gameDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${game.gameHits}"></td>
                    <td th:text="${game.gameRecommend}"></td>
                </tr>
            </tbody>
        </table>
    </section>

</body>
</html>