<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/free.css">
    <title>Document</title>
</head>
<body>
    <section class="containerMargin container" layout:fragment="content">
        <div class="d-flex justify-content-between">
            <h3 class="text-left">자유 게시판</h3>
        </div>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="text-center">제목</th>
                    <td>
                        <input type="text" class="form-control" name="gameTitle" th:value="${free.gameTitle}">
                    </td>
                </tr>
                <tr>
                    <th class="text-center">작성자</th>
                    <td th:text="${free.gameWriter}"></td>
                </tr>

                <tr>
                    <th class="text-center">작성일</th>
                    <td th:text="${#temporals.format(free.gameDate, 'yyyy-MM-dd')}"></td>
                </tr>

                <tr>
                    <th class="text-center">비밀번호</th>
                    <td th:text="${free.gamePasswd}"></td>
                </tr>

                <tr>
                    <th class="text-center">내용</th>
                    <td>
                        <textarea class="form-control" name="gameContent" rows="10" th:text="${free.gameContent}">
                        </textarea>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="text-end mt-3">
            <a th:href="@{/LOL/free/update/{gameNo}(gameNo=${free.gameNo})}"
               class="btn btn-warning">
                완료
            </a>

            <a th:href="@{/LOL/free/detail/{gameNo}(gameNo=${free.gameNo})}" class="btn btn-danger">취소</a>
        </div>

    </section>
</body>
</html>